<h1>Вы уверены что хотите удалить пользователя {{record.id}}</h1>
<button class='btn btn-success' {{action 'confirm' record}}>Да</button>
<button class='btn btn-success' {{action 'cancel'}}>Нет</button>