# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: afde6b85a081488b54eb88c464d84b05625393d1a5ba644debe5251dea2e9ee98a872f6345ca70d02a7a6e0741741323321b787baf53ee69b2941fefe679692c

test:
  secret_key_base: 33859ec42f46b20486f2d116a873ee062b1b07a0339cfb73f7990dd4fbbbd89330de7e85d84fa650f90ce229f44d22fcd7b6aa14584eef7ad4021a6bce493d31

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
