<!DOCTYPE html>
<html>
<head>
  <title>SimpleCRM</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'manager-app' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
